.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
} 

.circularProgressContainer {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}  